<footer class="footer">
  <div class="container-fluid d-flex justify-content-between">
      <div class="copyright">
          © {{ now.year }} Sistem Prediksi Kelulusan - D4 Teknik Informatika
      </div>
      <div>
          Politeknik Negeri Manado
      </div>
  </div>
</footer>

      <!-- Core JS Files -->
    <script src="../static/assets/js/core/jquery-3.7.1.min.js"></script>
    <script src="../static/assets/js/core/popper.min.js"></script>
    <script src="../static/assets/js/core/bootstrap.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="../static/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

    <!-- Chart JS -->
    <script src="../static/assets/js/plugin/chart.js/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="../static/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="../static/assets/js/plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="../static/assets/js/plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="../static/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- jQuery Vector Maps -->
    <script src="../static/assets/js/plugin/jsvectormap/jsvectormap.min.js"></script>
    <script src="../static/assets/js/plugin/jsvectormap/world.js"></script>

    <!-- Google Maps Plugin -->
    <script src="../static/assets/js/plugin/gmaps/gmaps.js"></script>

    <!-- Sweet Alert -->
    <script src="../static/assets/js/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- JS -->
    <script src="../static/assets/js/style.min.js"></script>

      {% autoescape false %}
          {{ shap.getjs()|safe }}
      {% endautoescape %}
  
     
</body>
</html>